.venv/
.idea/
.vscode/
.pycharm/
.cache/
venv/
node_modules/
/data/
db/
/resources/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
/plugins/

#config
/config/
_config.yml
config.yml
config.example.yml
compile.bat
src/resources/templates/latest-debug.html

src/nonebot_plugins/trimo_plugin_msctconverter/config
src/nonebot_plugins/trimo_plugin_msctconverter/temp
src/nonebot_plugins/trimo_plugin_msctconverter/MusicPreview/assets/wav
src/nonebot_plugins/dislink_plugin_ccnd
# src/nonebot_plugins/dislink_plugin_ccnd

# vuepress
.github
# pyproject.toml

# mypy
mypy.ini

# nuitka
compile.bat
main.build/
main.dist/
main.exe
main.cmd
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/
prompt.txt

# js
**/echarts.js
.env

# pdm
.pdm-python
.pdm-build
dist

doc

mkdoc2.py
result.json

# litedoc
docs/zh/dev/api
docs/en/dev/api
mkdoc.bat

# vitepress
docs/.vitepress/dist/
docs/.vitepress/cache
docs/.vitepress/.temp